.titulo-container{
    color:#FFFFFF;
    font-family: "Russo One";
    width: 40%;
    position: absolute;
    left: 110%;
    bottom: 30%;
}
.titulo-title{
    font-size: 4rem;
    padding-bottom: 3rem;
}
.titulo-subtitle{
    font-size: 1rem;
}
.titulo-active{
    animation: moveLft 2s ease-out forwards;
}
@keyframes moveLft {
    0%{
        left: 110%;
        bottom: 30%;
    }
    100%{
        left: 50%;
        bottom: 30%;
    }
}