.rocket-container{
    width: 30%;
    position: absolute;
    top: 10%;
    left: -100%;
}
.rocket-img{
    width: 100%;
}
.rocket-active{
    animation: img-left 1.5s ease-in-out forwards;
}
@keyframes img-left {
    0%{
        top: 10%;
        left: -100%;
    }
    100%{
        left: 10%;
        top: 20%;
    }
}