.arrow{
    position: absolute;
    bottom: 5%;
    left: 50%;
    right: 50%;
    width: 3rem;
    opacity: 0;
    transition: opacity 1s ease-in ;
}
.arrow img{
    width: 100%;
}

.arrow.active{
    opacity: 100%;
}
