.eacth-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 37%;
}
.eacth-img-container img {
transition: all 2s ease-in;
  width: 100%;
}
/* анімація обертання Землі */
.earth-rotate-clockwise {
  animation: rot 5s linear infinite;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.earth-rotate-anticlockwise {
    animation: antirot 5s linear infinite;
  }
  
  @keyframes antirot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  /* анімація збільшення Землі */
  .zoom-img{
    position: absolute;
    animation:  zoom 2s ease-out forwards;
  }
  @keyframes zoom {
    0% {
      transform: scale(1);
      left: 0;
    }
    100% {
      transform: scale(1.7);
      left: 150%;
    }
  }
  .earthUp{
    position: absolute;
    animation : earthup 2s linear forwards !important;
  }
  /* анімація зміщення Землі вверх */
@keyframes earthup {
  0%{
    bottom: 0;
    transform: scale(1.7);
    left: 150%;
  }
  100%{
    bottom: 20rem;
    transform: scale(1.7);
    left: 150%;
  }
}