@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Russo+One&family=Wendy+One&family=Work+Sans&display=swap');
@import 'animate.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-image: url("../../icons/bc.svg");
    display: block;
    overflow: hidden ;  
    position: relative;
}
/* медіа-запити */
@media (max-width: 768px){
    :root{
        font-size: 8px;
    }
    .title{
        font-size: 5rem;
        bottom: 46%;
        width: 55%;
    }
    .nav-item{
        font-size: 1.4rem;
        flex-basis: 16%;
    }
    .rocket-container{
        width: 80%;
    }
    @keyframes img-left {
        0%{
            top: 10%;
            left: -100%;
        }
        100%{
            left: 10%;
            top: 10%;
        }
    }
    .titulo-container{
        width: 75%;
    }
    @keyframes moveLft {
        0%{
            left: 110%;
            bottom: 10%;
        }
        100%{
            left: 15%;
            bottom: 10%;
        }
    }
    .eacth-img-container{
        width: 60%;
        left: 22%;
    }
    @keyframes zoom {
        0% {
          transform: scale(1);
          left: 0;
        }
        100% {
          transform: scale(1.7);
          left: 120%;
        }
      }
      @keyframes earthup {
        0%{
          bottom: 0;
          transform: scale(1.7);
          left: 120%;
        }
        100%{
          bottom: 25rem;
          transform: scale(1.7);
          left: 120%;
        }
      }

}
@media (max-width: 768px) and (orientation: landscape) {
    :root{
        font-size: 8px;
    }
    .title{
        width: 40%;
    }
    .eacth-img-container{
        width: 40%;
        left: 30%;
    }
    @keyframes zoom {
        0% {
          transform: scale(1);
          left: 0;
        }
        100% {
          transform: scale(1.7);
          left: 120%;
        }
      }
      .rocket-container{
        width: 40%;
    }
    @keyframes img-left {
        0%{
            top: 20%;
            left: -100%;
        }
        100%{
            left: 10%;
            top: 20%;
        }
    }
    .titulo-container{
        width: 40%;
    }
    @keyframes moveLft {
        0%{
            left: 110%;
            bottom: 38%;
        }
        100%{
            left: 57%;
            bottom: 38%;
        }
    }
}
@media (max-width: 1024px) and (min-width: 769px) and (orientation: landscape) {
    :root{
        font-size: 12px;
    }
    .title{
        width: 40%;
    }
    .eacth-img-container{
        width: 40%;
        left: 30%;
    }
    @keyframes zoom {
        0% {
          transform: scale(1);
          left: 0;
        }
        100% {
          transform: scale(1.7);
          left: 120%;
        }
      }
      .rocket-container{
        width: 40%;
    }
    @keyframes img-left {
        0%{
            top: 20%;
            left: -100%;
        }
        100%{
            left: 10%;
            top: 20%;
        }
    }
    .titulo-container{
        width: 40%;
    }
    @keyframes moveLft {
        0%{
            left: 110%;
            bottom: 21%;
        }
        100%{
            left: 57%;
            bottom: 21%;
        }
    }
}

/* =======================================================================
============================================================================
========================================================================== */
@media (max-width: 1024px) and (min-width: 769px){
    :root{
        font-size: 11px;
    }
    .rocket-container{
        width: 40%;
    }
    @keyframes img-left {
        0%{
            top: 20%;
            left: -100%;
        }
        100%{
            left: 10%;
            top: 20%;
        }
    }
    .titulo-container{
        width: 40%;
    }
    @keyframes moveLft {
        0%{
            left: 110%;
            bottom: 30%;
        }
        100%{
            left: 57%;
            bottom: 30%;
        }
    }
   
}
