.title {
  font-family: "Russo One";
  font-size: 6rem;
  width: 35%;
  position: absolute;
  left: 15%;
  bottom: 40%;
  /* color: aliceblue; */
  background: linear-gradient( #DADADA 37.67%, rgba(218, 218, 218, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;

}
.active{
    animation: title 1s linear forwards;
}
@keyframes title{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.moveLeft{
    animation : moveLef 2s ease-in forwards;
    position: absolute;
    
}
@keyframes moveLef{
    0%{
        transform: translateX(0);
        opacity: 100%;
    }
    100%{
        transform: translateX(-150%);
        right: 5rem;
        opacity: 100%;
    }
}