.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  box-sizing: border-box;
}
.nav-item {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Russo One";
  flex-basis: 10%;
  transform: translateY(-5rem);
  z-index: 1;
}
